* {
    box-sizing: border-box;
}

body {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    background-image: url("12345.jpg");
    box-sizing: cover;
    background-position: center;
    background-attachment: fixed;
    color: #000000;
    margin: 0;
    padding: 0;
}


.container {
    width: 90%;
    max-width: 1200px;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: rgb(255, 255, 255);
}


.content {
    margin: 20px;
    padding: 15px;
    background-color: #fff;
    border-radius: 5px;
}

header h1 {
    margin: 0 0 15px;
    padding: 0 10px 15px;
    background-color: #4c73d8;
    color: white;
    border-radius: 10px;
}

main h3 {
    text-align: center;
}

img {
    border: 5px solid #7951af;
    border-radius: 5px;
    margin-top: 10px;
    background-position: center;
}

.menu ul {
    list-style: none;
    display: flex;
    flex-direction: row;
    gap: 20px;
    padding: 0;
}

.menu a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
    padding: 5px 10px;
    border-radius: 3px;
}

.menu a:hover {
    background-color: rgb(29, 2, 103);
    color: white;
}

footer {
    text-align: center;
    background-color: #4c73d8;
    color: #ffffff;
    padding: 10px;
    border-radius: 10px;
    margin-top: 20px;

}